* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #b7d7a8, #6b8e23);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenedor {
    background-color: #f3fff0;
    width: 100%;
    max-width: 500px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #2f5d2f;
    margin-bottom: 25px;
    font-size: 32px;
}

.grupo {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #1f4d1f;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 12px;
    border: 2px solid #8fbc8f;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

input:focus,
select:focus {
    border-color: #556b2f;
    box-shadow: 0 0 10px rgba(85, 107, 47, 0.4);
}

input[type="range"] {
    accent-color: #556b2f;
}

small {
    color: #2f5d2f;
    display: block;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #556b2f;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #3d4f1f;
    transform: scale(1.02);
}
